.home_container {
   width: 100%;
    height: 1153px;
     
}


.footer-wrapper {
    width: 100%;
    position: absolute;
    bottom: 20px;
    
}


.wrapper-box-container {
    max-width: 977px;
    width: 100%;
padding-top: 67px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    align-items: center;
    position: relative;
}


.wrapper-box-container p {
    color: var(--black-amp-white-white, #FFF);
    text-align: center;
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
}