.title-container {
    width: 333px;
height: 88px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 9.5px;
}


.heading {
    width: 151px;
height: 41.5px;
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 130%;

/* Black&amp;White/White */
color: #FFFFFF;
}