 span {
    color: var(--gray-gray-400, #A0AEC0);
    font-family: Helvetica;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 36px */
}

.bread-crumbs-wrapper h1 {

color: var(--gray-gray-700, #2D3748);
font-family: Helvetica;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}